@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: 1rem;
  /* 16px */
  --font-size-lg: 1.25rem;
  /* 20px */
  --font-size-xl: 1.5rem;
  /* 24px */
  --font-size-xxl: 2rem;
  /* 32px */
  --gap-4: 1rem;
  /* 16px */
  --gap-10: 2.5rem;
  /* 40px */
  --primary-bg: #f9fafb;
  --secondary-bg: #e5e7eb;
}

* {
  font-family: Outfit;
}

.section {
  @apply w-full sm:w-[600px] md:w-[800px] lg:w-[1000px] xl:w-[1200px] 
  min-h-screen mx-auto p-8;
}

.btn-secondary {
  @apply border border-gray-500 text-gray-500 py-2 px-4 rounded-md bg-transparent cursor-pointer;
}